form{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 20%;
  .field{
    padding: 5px;
  }
}
.field{
  .field_with_errors{
    display: inline-block;
    color: red;
    border: 1px solid red;
  }
}